@model MoonData

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Current Moon Info</h2>
    <p>The moon is currently in it's <i>@Model.Phase</i> phase and is @Model.Illumination illuminated.</p>
</div>
