@model MoonData

<div class="text-center display-4">
    <h1>Welcome</h1>
    <h2>Current Moon Info</h2>
    <p>The moon is currently in it's @Model.Phase phase and is @Model.Illumination illuminated.</p>
</div>
