@page
@model LoginModel

<div class="container">
    <h1>Login</h1>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h4>Welcome back! Log into your account below</h4>
        <hr />
        <div class="form-row">

            <input placeholder="Email" asp-for="Input.Email" class="col form-control" />

            <input asp-for="Input.Password" class="form-control col" placeholder="Password" />
        </div>

        <div class="form-row">
            <button type="submit" class="btn btn-dark col form-button changeable">Login</button>
        </div>

        <div class="form-row d-flex justify-content-around login-footer text-info">
            <div>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </div>
            <div>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user!</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}