/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;

}

:root {
    --background-image: url("../imgs/bg-pink-clouds.jpg")
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Slabo 27px', serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */

}
.form-control {
    margin: 8px;

}
.form-button {
    margin-top: 16px;
    font-family: 'Satisfy', cursive;
}
.login-footer {
    margin-top: 8px;
    text-decoration-line: none;
    cursor: pointer; 
    
}
.moon-details-content {
    width: 90%
}
.moon-details-nav {
    width: 10%;

}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-around;
}
.nav-btn {
    margin: 12px;
    border-radius: 24px;
    height: 70px;
    color: white;
    background-image: var(--background-image);
    background-size: 100%;
    padding: 8px;
    cursor: pointer;
}

.nav-link:hover {
    color: whitesmoke;
}


.hr-white {
    background: whitesmoke;
    height: 2px;
}
.journal-table {
    width: 100%;
    margin-bottom: 64px;
    font-size: large;
}
.large-btn {
    width: 80%;
    font-size: xx-large;
    margin-left: 99px;
}
.journal-text {
    font-family: 'Satisfy', cursive;
    font-size: x-large;
}

.changeable {
    background-image: var(--background-image);
    background-size: 100%;
}

.toggle-pink-clouds {
    margin: 12px;
    border-radius: 24px;
    height: 70px;
    color: white;
    background-image: url("../imgs/bg-pink-clouds.jpg");
    background-size: 100%;
    padding: 8px;
    cursor: pointer;
}
.toggle-blue-nebula {
    margin: 12px;
    border-radius: 24px;
    height: 70px;
    color: white;
    background-image: url("../imgs/bg-blue-nebula.jpg");
    background-size: 100%;
    padding: 8px;
    cursor: pointer;
}